body {
    height:70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:linear-gradient(rgb(47,150,163), rbg(48,62,143));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    console.log(why is no worky why )

}